/* Estilo para o header principal */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #000, #f00);
    padding: 20px;
  }
  
  /* Estilo para o título */
  .h1 {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  
  /* Estilo para o nome do usuário */
  .user-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: auto;
  }
  
  /* Estilo para a barra de navegação */
  .navigation {
    display: flex;
    justify-content: center;
    background-color: #752f2f;
    padding: 10px;
  }
  
  /* Estilo para os links de navegação */
  .navigation-link {
    margin: 0 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilo para os links de navegação quando estão ativos */
  .navigation-link.active {
    color: #f00;
  }
  